<div class="msgCollection">
    <form method="POST" action="/add" class="formCont">
        <label for="name">Nickname</label>
        <input type="text" id="name" name="name" required>
        <label for="content">Message</label>
        <textarea id="content" name="content" maxlength="260" placeholder="What would you like to say?" required></textarea>
        <button type="submit">Submit</button>
    </form>
</div>
