<div>
    <form method="POST" action="/add">
        <label for="username">Nickname</label>
        <input type="text" id="username" name="username">

        <label for="textarea">Message</label>
        <textarea id="textarea" name="textarea">What do you want to say?</textarea>
        <button type="submit">Submit</button>
    </form>
</div>