<div class="msgCollection">
    <div class="msgCont">
        <p>
        <%- console.log(params) %>
            <%= params.message.content %>
        </p>
        <div>
            <%= params.message.name%>
        </div>
        <div>
            <%= params.message.time%>
        </div>
        <form action="/">
            <button type"submit">Home</button>
        </form>
    </div>
</div>
