<nav>
    <div>
        <div>
            <a href="/">
                <h3>QuipBoard</h3>
            </a>
        </div>
    </div>
    <div class="postBtn Cont">
        <form action="/add" method="GET">
            <button type="submit" class="postBtn">New Quip</button>
        </form>
    </div>
</nav>